<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Comments</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>All Comments</h2>
  
  <ul class="quotes">
    <% for(var i=0; i<comments.length; i++) {%>
      <li class="quote">
        <span><%= comments[i].title %>: </span>
        <span><%= comments[i].body %></span>
      </li>
    <% } %>
    </ul>
  

</body>
</html>
